
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #EFEEE7
}
h1 {
    background: #333;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #EFEEE7;
    text-align: center;
}
h2 {
    font-size: 24px;
}
.container {
    width: 1040px;
}
.container,
.contact {
    margin: 20px;
    float: left;
}
#photo {
    width: 200px;
    height: 200px;
}
#bio {
    width: 820px;
    float: right;
}
a {
    color: #D21034;
}
