
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
    line-height: 150%;
    color: #333;
    background: #7cd88b;
}
h1 {
    background: #333;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #EFEEE7;
    text-align: center;
}
h2 {
    font-size: 24px;
    margin-top:0;
}
.container {
    width: 1040px;
    float: left;
}
.container,
.contact {
    margin: 30px;
}
.photo {
    width: 250px;
    height: 250px;
}
#bio {
    width: 66%;
    float: right;
}
a {
    color: #ff002f;
}
